/************ Colors ************/

:root {
  --light-color: #e6e6e6;
  --dark-color: #010101;
  --grey1-color: #444;
  --grey2-color: #999;
  --transp1-color: #d9d9d91a;
  --transp2-color: #ffffff80;
  --first-color: #410cab;
  --second-color: #9d3172;
  --third-color: #d3a61d;
  --fourth-color: #176589;

}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

.App {
  text-align: center;
}

/************ Navbar Css ************/

.navbar {
  background-color: var(--dark-color); 
  color: var(--light-color);
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item{
  color: var(--light-color);
  font-size: 20px;
  margin: 0 15px;
}
.logo {
  max-width: 60px;
  border-radius: 15px;
  margin: 0 20px;
}
.social-icon {
    display: inline-block;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: var(--transp1-color);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid var(--transp2-color);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: var(--light-color);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
@media (max-width:600px) {
	.navbar {
    display: flex;
    flex-direction: column;
  }
  .item, .logo, .social-icon{
    margin: 10px;
  }
}

/************ Home Css ************/
.home {
  background-color: var(--first-color);
  width: 100%;
  height: 100vh;
  text-align: center; 
}
.title{
font-size: 30px;
}
.div-button{
  height:70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-button {
  border: 2px solid var(--grey2-color);
  border-radius: 10px;
  padding: 10px;
}
.start-button:hover {
  border: 2px solid var(--grey1-color);
  background-color: var(--dark-color);
  color:var(--light-color)
}
