/************ Colors ************/

:root {
  --light-color: #e6e6e6;
  --dark-color: #010101;
  --grey1-color: #444;
  --grey2-color: #999;
  --transp1-color: #d9d9d91a;
  --transp2-color: #ffffff80;
  --first-color: #410cab;
  --second-color: #9d3172;
  --third-color: #d3a61d;
  --fourth-color: #176589;
}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}
.App {
  text-align: center;
}
.title {
  font-size: 30px;
  margin-top: 10px;
}
.arrow{
  font-size: 30px;
  font-weight: 500;
}
.arrow-up{
  position: absolute;
  top: 25%;
  left: 50%;
}
.arrow-down{
  position: absolute;
  top: 90%;
  left: 50%;
}
.arrow-left{
  position: absolute;
  top: 55%;
  left: 5%;
}
.arrow-right{
  position: absolute;
  top: 55%;
  left: 95%;
}
.eye{
  position: absolute;
  top: 55%;
  left: 50%;
}
.game-button {
  border: 2px solid var(--grey2-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to bottom, var(--grey1-color), var(--light-color));
}
.game-button:hover {
  border: 2px solid var(--grey1-color);
  background: linear-gradient(to bottom, var(--dark-color), var(--grey1-color));
  color: var(--light-color);
}


/************ Navbar Css ************/
.main-navbar {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  color: var(--light-color);
  font-size: 20px;
  margin: 0 15px;
}
.logo {
  max-width: 40px;
  border-radius: 15px;
  margin: 0 20px;
}
.navbarbrand{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.the-game{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  letter-spacing: -3px;
}
.music{
  font-size: 30px;
  text-align: center;
  width: 40px;
  height: 40px;
}
.social-icon {
  display: inline-block;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: var(--transp1-color);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--transp2-color);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--light-color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .item,
  .logo,
  .social-icon {
    margin: 10px;
  }
}

/************ Home Css ************/
.home {
  background-color: var(--first-color);
  width: 100%;
  height: 100vh;
  text-align: center;
}
.div-start-button {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************ Intro Css ************/
#intro {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 10px;
  background-image: url("./assets/universo6.png");
}
.planeta {
  width: 50px;
  height: 50px;
  position: fixed; 
  top: 80%; 
  left: 50%; 
  transform: translateX(-50%); 
  animation: expandAndMoveUp 15s ease forwards;
}
/*animación expandAndMoveUp */
@keyframes expandAndMoveUp {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
    top: 80%;
  }
  30% {
    width: 50px; 
    height: 50px; 
    opacity: 1; 
    top: 80%;
    left: 50%;
  }
  100% {
    width: 3000px; 
    height: 3000px; 
    opacity: 1; 
    top: calc(100vh - 2800px); /* El extremo inferior cubre la pantalla */
    left: 20%;
  }
}

.shooting-star1 {
  width: 2px;
  height: 2px;
  background-color: var(--grey2-color);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-100%) translateX(70vw); /* Inicialmente, la estrella está fuera de la vista arriba */
  animation: estrellaFugaz1 30s linear forwards; /* Ajusta la duración según tus preferencias */
}

@keyframes estrellaFugaz1 {
  0% {
    transform: translateY(-100%) translateX(70vw);
  }
  100% {
    transform: translateY(100vh) translateX(90vw); /* Desciende hasta fuera de la vista abajo */
  }
}

.shooting-star2 {
  width: 2px;
  height: 2px;
  background-color: var(--light-color);
  border-radius: 50%;
  position: absolute;
  transform: translateY(50vh) translateX(30vw); /* Inicialmente, la estrella está fuera de la vista arriba */
  animation: estrellaFugaz2 40s linear forwards; 
}
@keyframes estrellaFugaz2 {
  0% {
    transform: translateY(50vh) translateX(30vw);
  }
  100% {
    transform: translateY(100vh) translateX(5vw); /* Desciende hasta fuera de la vista abajo */
  }
}
/*
.shiny {
  width: 5px;
  height: 5px;
  z-index: 9999;
  background-color: white; 
  border-radius: 50%;
  box-shadow: 0 0 20px 10px white; 
  position: absolute;
  top: 25%; 
  left: 38%; 
  transform: translate(-50%, -50%); 
  opacity: 0; 
  animation: shine 2s 15s 1 forwards;
}

@keyframes shine {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  60% {
    opacity: 0; 
  }
  70% {
    opacity: 1; 
  }
  80% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}*/



/************ Info Css ************/
#info {
  background-color: var(--grey1-color);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 10px;
}
/************ Room Css ************/
#room {
  background-color: var(--grey2-color);
  width: 100%;
  height: 100vh;
  text-align: center;
}
/************ InnerPanel Css ************/
#innerpanel {
  background-color: var(--dark-color);
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 10px;
}
/************ OuterPanel Css ************/
#outerpanel {
  width: 100%;
  text-align: center;
}
.outer-navbar {
  background-color: var(--fourth-color);
  color: var(--light-color);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
.outer-navbar a{
  margin: 0 15px;
}

